In [2]:
import pandas as pd
from datetime import datetime
import random as rd

## Leer archivos

## Crear archivos animales

In [3]:
from datetime import datetime
import pandas as pd
import random as rd
import json
#ANIMALES
#MAX NUMBER OF ROWS
MAXNUM = 100
df = pd.read_csv('aac_shelter_cat_outcome_eng.csv')#.head(MAXNUM)
df = df[df['name'].notnull()]
df['date_of_birth'] = ((datetime.now() - pd.to_datetime(df['date_of_birth'])).dt.days/365).astype(int)
l = ['name','animal_type','breed','date_of_birth','sex','Spay/Neuter','color1']
print("Animales cargados....OK")
df[l].head()

Animales cargados....OK

,name,animal_type,breed,date_of_birth,sex,Spay/Neuter,color1
1,Lucy,Cat,domestic shorthair,6,Female,No,blue
2,*Frida,Cat,domestic shorthair,6,Female,Yes,white
3,Stella Luna,Cat,domestic mediumhair,7,Female,Yes,black
5,Elsa,Cat,domestic shorthair,6,Female,Yes,brown
7,Chester,Cat,domestic shorthair,6,Male,Yes,black

In [4]:
animal_columns = ["nombre","tipo","raza","edad","sexo","esterilizado","color"]
animal_df = df[l]
for i, column in enumerate(animal_columns):
    animal_df = animal_df.rename(columns={l[i]:animal_columns[i]})
animal_df.head()

        nombre tipo                 raza  edad    sexo esterilizado  color
1         Lucy  Cat   domestic shorthair     6  Female           No  blue
2       *Frida  Cat   domestic shorthair     6  Female          Yes  white
3  Stella Luna  Cat  domestic mediumhair     7  Female          Yes  black
5         Elsa  Cat   domestic shorthair     6  Female          Yes  brown
7      Chester  Cat   domestic shorthair     6    Male          Yes  black

In [5]:
estadoL = ["adoptado","en_adopcion", "colonia", "perdido"]

In [6]:
animal_df["estado"]  = animal_df["nombre"].apply(lambda x: rd.choice(estadoL))
animal_df = animal_df.head(100)
animal_df.head()

,nombre,tipo,raza,edad,sexo,esterilizado,color,estado
1,Lucy,Cat,domestic shorthair,6,Female,No,blue,perdido
2,*Frida,Cat,domestic shorthair,6,Female,Yes,white,en_adopcion
3,Stella Luna,Cat,domestic mediumhair,7,Female,Yes,black,colonia
5,Elsa,Cat,domestic shorthair,6,Female,Yes,brown,en_adopcion
7,Chester,Cat,domestic shorthair,6,Male,Yes,black,en_adopcion

In [7]:
animal_df = animal_df.reset_index().rename(columns={"index":"id"})
animal_df.head()

,id,nombre,tipo,raza,edad,sexo,esterilizado,color,estado
0,1,Lucy,Cat,domestic shorthair,6,Female,No,blue,perdido
1,2,*Frida,Cat,domestic shorthair,6,Female,Yes,white,en_adopcion
2,3,Stella Luna,Cat,domestic mediumhair,7,Female,Yes,black,colonia
3,5,Elsa,Cat,domestic shorthair,6,Female,Yes,brown,en_adopcion
4,7,Chester,Cat,domestic shorthair,6,Male,Yes,black,en_adopcion

In [8]:
animals_path = 'nosql_data/animal.csv'
animal_df.to_csv(animals_path,index=False,float_format=str)
pd.read_csv(animals_path).head(5)

,id,nombre,tipo,raza,edad,sexo,esterilizado,color,estado
0,1,Lucy,Cat,domestic shorthair,6,Female,No,blue,perdido
1,2,*Frida,Cat,domestic shorthair,6,Female,Yes,white,en_adopcion
2,3,Stella Luna,Cat,domestic mediumhair,7,Female,Yes,black,colonia
3,5,Elsa,Cat,domestic shorthair,6,Female,Yes,brown,en_adopcion
4,7,Chester,Cat,domestic shorthair,6,Male,Yes,black,en_adopcion

import json 
with open('data.txt', 'w') as outfile:

    json.dump(data, outfile)

## Crear archivo personas

In [9]:
persona_df = pd.read_pickle('personas').head(100)
persona_df.head()

,cedula,nombre,apellido,sexo,fechaNacimiento,telefono,celular,ciudad,direccion,email,cargo
0,0954058106,Jefferson,Piero Carrera,Masculino,1996-02-21,0689842778,0891138762,Cuenca,Av. Amazonas N40-71,ibtpvn@outlook.es,O
1,0479318887,Mara,Piero Vera,Femenino,1993-01-06,0630545608,0020183985,Naranjal,Calle Luis Cordero 16-50 y Av. Héroes de Verde...,ddwazuge@outlook.es,V
2,0864671556,Crithina,Figueroa Vazquez,Femenino,1993-06-18,0710076013,0944242912,Durán,Centro,pxgrqu@outlook.es,E
3,0476814537,Jocelyne,Tobar,Femenino,1982-10-11,0439747629,0876461463,Naranjal,Av. 9 de Octubre N 27-75 y Berlín,hseyiw@hotmail.es,E
4,0997994091,Renato,Carrera Morena,Masculino,1997-03-20,0407100604,0223539709,Guayaquil,Estación de Comprobación Técnica Vía Chambo Km 2,kszuc@hotmail.com,O

In [10]:
personas_path = 'nosql_data/persona.csv'
persona_df.to_csv(personas_path,index=False,float_format=str)
pd.read_csv(personas_path,dtype={"cedula":str}).head(5)

,cedula,nombre,apellido,sexo,fechaNacimiento,telefono,celular,ciudad,direccion,email,cargo
0,0954058106,Jefferson,Piero Carrera,Masculino,1996-02-21,689842778,891138762,Cuenca,Av. Amazonas N40-71,ibtpvn@outlook.es,O
1,0479318887,Mara,Piero Vera,Femenino,1993-01-06,630545608,20183985,Naranjal,Calle Luis Cordero 16-50 y Av. Héroes de Verde...,ddwazuge@outlook.es,V
2,0864671556,Crithina,Figueroa Vazquez,Femenino,1993-06-18,710076013,944242912,Durán,Centro,pxgrqu@outlook.es,E
3,0476814537,Jocelyne,Tobar,Femenino,1982-10-11,439747629,876461463,Naranjal,Av. 9 de Octubre N 27-75 y Berlín,hseyiw@hotmail.es,E
4,0997994091,Renato,Carrera Morena,Masculino,1997-03-20,407100604,223539709,Guayaquil,Estación de Comprobación Técnica Vía Chambo Km 2,kszuc@hotmail.com,O

## Formulario Poner en adopcion

In [11]:
formulario_df = pd.read_pickle('formulario_adopciones').head(MAXNUM)
formulario_path = 'nosql_data/formulario.json'

formulario_df.head()

,animal,duenio,motivo,fecha
0,32,0876711369,Lo encontré en la calle,2020-09-23
1,33,0104107312,Mi mamá no lo quiere,2019-12-23
2,34,0796097743,No puedo mantenerlo,2019-05-15
3,35,0950946050,Mi papá no lo quiere en la casa,2020-08-02
4,36,0802558174,No me permiten tener mascotas en mi nuevo depa...,2018-08-26

Como se cambio el numero maximo de personas entonces cambiar los duenos a duenos existentes, asimismo con los animales

In [12]:
#available_peopleL = list
rd.choice(persona_df["cedula"])
rd.choice(animal_df.index)
print(persona_df.shape)
print(animal_df.shape)
pd.Series(animal_df.index)

(100, 11)
(100, 9)

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [13]:
nforrows = formulario_df.shape[0]
formulario_df["duenio"] = persona_df.head(nforrows)["cedula"]#formulario_df["duenio"].apply(lambda x: rd.choice(persona_df["cedula"]))
formulario_df["animal"] = animal_df.head(nforrows)["id"]
formulario_df.head()

,animal,duenio,motivo,fecha
0,1,0954058106,Lo encontré en la calle,2020-09-23
1,2,0479318887,Mi mamá no lo quiere,2019-12-23
2,3,0864671556,No puedo mantenerlo,2019-05-15
3,5,0476814537,Mi papá no lo quiere en la casa,2020-08-02
4,7,0997994091,No me permiten tener mascotas en mi nuevo depa...,2018-08-26

In [14]:
def obtener_ushort(cedula):
    ushort_col = ["cedula","nombre","apellido","sexo"]
    resultado = persona_df[persona_df["cedula"]== cedula]
    ushort = {}
    for ucol in ushort_col:
        if resultado[ucol].values:
            ushort[ucol] = resultado[ucol].values[0] # ya se que solo va a ser 1
    return ushort

In [15]:
formulario_df["usuario"] = formulario_df['duenio'].apply(obtener_ushort)
formulario_df.drop(columns=["duenio"], inplace = True)
formulario_df.head()

,animal,motivo,fecha,usuario
0,1,Lo encontré en la calle,2020-09-23,"{'cedula': '0954058106', 'nombre': 'Jefferson'..."
1,2,Mi mamá no lo quiere,2019-12-23,"{'cedula': '0479318887', 'nombre': 'Mara', 'ap..."
2,3,No puedo mantenerlo,2019-05-15,"{'cedula': '0864671556', 'nombre': 'Crithina',..."
3,5,Mi papá no lo quiere en la casa,2020-08-02,"{'cedula': '0476814537', 'nombre': 'Jocelyne',..."
4,7,No me permiten tener mascotas en mi nuevo depa...,2018-08-26,"{'cedula': '0997994091', 'nombre': 'Renato', '..."

### Agregando animal

In [16]:
def obtener_ashort(pk):
    ushort_col = ["id","nombre","edad","raza","tipo"]
    #resultado = animal_df.iloc[pk]
    resultado = animal_df[animal_df["id"]== pk]
    ushort = {}
    for ucol in ushort_col:
        if resultado[ucol].values:
            ushort[ucol] = resultado[ucol].values[0] # ya se que solo va a ser 1
    return ushort

In [17]:
formulario_df["animal"] = formulario_df['animal'].apply(obtener_ashort)
formulario_df.head()

,animal,motivo,fecha,usuario
0,"{'id': 1, 'nombre': 'Lucy', 'edad': 6, 'raza':...",Lo encontré en la calle,2020-09-23,"{'cedula': '0954058106', 'nombre': 'Jefferson'..."
1,"{'id': 2, 'nombre': '*Frida', 'edad': 6, 'raza...",Mi mamá no lo quiere,2019-12-23,"{'cedula': '0479318887', 'nombre': 'Mara', 'ap..."
2,"{'id': 3, 'nombre': 'Stella Luna', 'edad': 7, ...",No puedo mantenerlo,2019-05-15,"{'cedula': '0864671556', 'nombre': 'Crithina',..."
3,"{'id': 5, 'nombre': 'Elsa', 'edad': 6, 'raza':...",Mi papá no lo quiere en la casa,2020-08-02,"{'cedula': '0476814537', 'nombre': 'Jocelyne',..."
4,"{'id': 7, 'nombre': 'Chester', 'edad': 6, 'raz...",No me permiten tener mascotas en mi nuevo depa...,2018-08-26,"{'cedula': '0997994091', 'nombre': 'Renato', '..."

In [18]:
formulario_df.loc[0,"animal"]

{'id': 1,
 'nombre': 'Lucy',
 'edad': 6,
 'raza': 'domestic shorthair',
 'tipo': 'Cat'}


### Guardando en json

In [19]:
formulario_df.to_json(formulario_path, orient = 'records')
with open(formulario_path) as f:
    data = json.load(f)
#parsed = json.loads(formulario_path)
#json.dumps(parsed, indent=4)  
data

[{'animal': {'id': 1,
   'nombre': 'Lucy',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Lo encontré en la calle',
  'fecha': '2020-09-23',
  'usuario': {'cedula': '0954058106',
   'nombre': 'Jefferson',
   'apellido': 'Piero Carrera',
   'sexo': 'Masculino'}},
 {'animal': {'id': 2,
   'nombre': '*Frida',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Mi mamá no lo quiere',
  'fecha': '2019-12-23',
  'usuario': {'cedula': '0479318887',
   'nombre': 'Mara',
   'apellido': 'Piero Vera',
   'sexo': 'Femenino'}},
 {'animal': {'id': 3,
   'nombre': 'Stella Luna',
   'edad': 7,
   'raza': 'domestic mediumhair',
   'tipo': 'Cat'},
  'motivo': 'No puedo mantenerlo',
  'fecha': '2019-05-15',
  'usuario': {'cedula': '0864671556',
   'nombre': 'Crithina',
   'apellido': 'Figueroa Vazquez',
   'sexo': 'Femenino'}},
 {'animal': {'id': 5,
   'nombre': 'Elsa',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Mi papá no lo quiere en la casa',
  'fecha': '2020-08-02',
  'usuario': {'cedula': '0476814537',
   'nombre': 'Jocelyne',
   'apellido': 'Tobar',
   'sexo': 'Femenino'}},
 {'animal': {'id': 7,
   'nombre': 'Chester',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'No me permiten tener mascotas en mi nuevo departamento',
  'fecha': '2018-08-26',
  'usuario': {'cedula': '0997994091',
   'nombre': 'Renato',
   'apellido': 'Carrera Morena',
   'sexo': 'Masculino'}},
 {'animal': {'id': 8,
   'nombre': '*Oliver',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Ya no me puedo mantener',
  'fecha': '2018-08-06',
  'usuario': {'cedula': '0024328380',
   'nombre': 'Jose',
   'apellido': 'Sanzhez',
   'sexo': 'Masculino'}},
 {'animal': {'id': 9,
   'nombre': '*Preston',
   'edad': 7,
   'raza': 'domestic mediumhair',
   'tipo': 'Cat'},
  'motivo': 'Estoy sin trabajo',
  'fecha': '2020-08-14',
  'usuario': {'cedula': '0179813151',
   'nombre': 'Milena',
   'apellido': 'Vera Piero',
   'sexo': 'Femenino'}},
 {'animal': {'id': 10,
   'nombre': '*Bumble',
   'edad': 6,
   'raza': 'siamese',
   'tipo': 'Cat'},
  'motivo': 'Lo encontré en la calle',
  'fecha': '2018-03-16',
  'usuario': {'cedula': '0634526254',
   'nombre': 'Jefferson',
   'apellido': 'Vazquez',
   'sexo': 'Masculino'}},
 {'animal': {'id': 15,
   'nombre': 'Pumpkin',
   'edad': 9,
   'raza': 'domestic mediumhair',
   'tipo': 'Cat'},
  'motivo': 'Lo encontré en la calle',
  'fecha': '2019-09-25',
  'usuario': {'cedula': '0312697669',
   'nombre': 'Bryan',
   'apellido': 'Jacho',
   'sexo': 'Masculino'}},
 {'animal': {'id': 16,
   'nombre': 'Winnie',
   'edad': 10,
   'raza': 'russian blue',
   'tipo': 'Cat'},
  'motivo': 'Estoy sin trabajo',
  'fecha': '2019-12-28',
  'usuario': {'cedula': '0579613315',
   'nombre': 'Dayana',
   'apellido': 'Morena',
   'sexo': 'Femenino'}},
 {'animal': {'id': 17,
   'nombre': 'Snowflake',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Estoy sin trabajo',
  'fecha': '2020-10-07',
  'usuario': {'cedula': '0814045758',
   'nombre': 'Paulette',
   'apellido': 'Cedeño',
   'sexo': 'Femenino'}},
 {'animal': {'id': 18,
   'nombre': 'Smoke',
   'edad': 13,
   'raza': 'russian blue',
   'tipo': 'Cat'},
  'motivo': 'Mi papá no lo quiere en la casa',
  'fecha': '2018-01-25',
  'usuario': {'cedula': '0432810010',
   'nombre': 'Mara',
   'apellido': 'Flores',
   'sexo': 'Femenino'}},
 {'animal': {'id': 19,
   'nombre': '*Dora',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Lo dejaron tirado en ESPOL',
  'fecha': '2020-10-12',
  'usuario': {'cedula': '0358047059',
   'nombre': 'Crithina',
   'apellido': 'Pulla',
   'sexo': 'Femenino'}},
 {'animal': {'id': 22,
   'nombre': '*Cosmo',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Estoy sin trabajo',
  'fecha': '2018-07-23',
  'usuario': {'cedula': '0905718882',
   'nombre': 'Axel',
   'apellido': 'Jacho Jacho',
   'sexo': 'Masculino'}},
 {'animal': {'id': 25,
   'nombre': '*Sophie',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Mi papá no lo quiere en la casa',
  'fecha': '2020-01-01',
  'usuario': {'cedula': '0262905441',
   'nombre': 'Ariel',
   'apellido': 'Pulla Pulla',
   'sexo': 'Masculino'}},
 {'animal': {'id': 27,
   'nombre': 'Mischief',
   'edad': 12,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Lo dejaron tirado en ESPOL',
  'fecha': '2020-07-16',
  'usuario': {'cedula': '0288063308',
   'nombre': 'Dayana',
   'apellido': 'Sanzhez',
   'sexo': 'Femenino'}},
 {'animal': {'id': 31,
   'nombre': '*Rose',
   'edad': 5,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Me voy del país',
  'fecha': '2018-07-26',
  'usuario': {'cedula': '0399766813',
   'nombre': 'Mara',
   'apellido': 'Morena',
   'sexo': 'Femenino'}},
 {'animal': {'id': 34,
   'nombre': '*Monkey',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Mi papá no lo quiere en la casa',
  'fecha': '2018-10-20',
  'usuario': {'cedula': '0206835601',
   'nombre': 'Zoila',
   'apellido': 'Carrera',
   'sexo': 'Femenino'}},
 {'animal': {'id': 35,
   'nombre': 'Lucy',
   'edad': 5,
   'raza': 'domestic longhair',
   'tipo': 'Cat'},
  'motivo': 'Estoy sin trabajo',
  'fecha': '2019-04-14',
  'usuario': {'cedula': '0477258993',
   'nombre': 'Jose',
   'apellido': 'Jacho Tobar',
   'sexo': 'Masculino'}},
 {'animal': {'id': 36,
   'nombre': '*Mike',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Estoy sin trabajo',
  'fecha': '2018-04-18',
  'usuario': {'cedula': '0402810438',
   'nombre': 'Luis',
   'apellido': 'Mera Jacho',
   'sexo': 'Masculino'}},
 {'animal': {'id': 37,
   'nombre': '*Magnolia',
   'edad': 8,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Ya no me puedo mantener',
  'fecha': '2020-11-13',
  'usuario': {'cedula': '0876711369',
   'nombre': 'Xiomara',
   'apellido': 'Jacho Morena',
   'sexo': 'Femenino'}},
 {'animal': {'id': 38,
   'nombre': '*Winston',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Ya no me puedo mantener',
  'fecha': '2019-11-16',
  'usuario': {'cedula': '0420036459',
   'nombre': 'Paulette',
   'apellido': 'Carrera',
   'sexo': 'Femenino'}},
 {'animal': {'id': 39,
   'nombre': '*Kim',
   'edad': 7,
   'raza': 'domestic mediumhair',
   'tipo': 'Cat'},
  'motivo': 'No puedo mantenerlo',
  'fecha': '2019-12-18',
  'usuario': {'cedula': '0018885851',
   'nombre': 'Diana',
   'apellido': 'Carrera',
   'sexo': 'Femenino'}},
 {'animal': {'id': 40,
   'nombre': '*Alley',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Mi papá no lo quiere en la casa',
  'fecha': '2019-09-10',
  'usuario': {'cedula': '0210821929',
   'nombre': 'Xavier',
   'apellido': 'Davalos',
   'sexo': 'Masculino'}},
 {'animal': {'id': 42,
   'nombre': '*Martin',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'No puedo mantenerlo',
  'fecha': '2018-09-15',
  'usuario': {'cedula': '0459889137',
   'nombre': 'Jonathan',
   'apellido': 'Bermudez Sanzhez',
   'sexo': 'Masculino'}},
 {'animal': {'id': 45,
   'nombre': 'Tiki',
   'edad': 16,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Mi mamá no lo quiere',
  'fecha': '2018-03-09',
  'usuario': {'cedula': '0137625765',
   'nombre': 'Geogy',
   'apellido': 'Davalos Cordova',
   'sexo': 'Masculino'}},
 {'animal': {'id': 46,
   'nombre': '*Taylor',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'No me permiten tener mascotas en mi nuevo departamento',
  'fecha': '2018-08-12',
  'usuario': {'cedula': '0539431912',
   'nombre': 'Ariel',
   'apellido': 'Morena',
   'sexo': 'Masculino'}},
 {'animal': {'id': 48,
   'nombre': '*Amber',
   'edad': 14,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Lo encontré en la calle',
  'fecha': '2018-11-05',
  'usuario': {'cedula': '0127106444',
   'nombre': 'Tamara',
   'apellido': 'Davalos Vera',
   'sexo': 'Femenino'}},
 {'animal': {'id': 50,
   'nombre': 'Jenny',
   'edad': 9,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Lo encontré en la calle',
  'fecha': '2020-07-20',
  'usuario': {'cedula': '0346349094',
   'nombre': 'Axel',
   'apellido': 'Morena Sanzhez',
   'sexo': 'Masculino'}},
 {'animal': {'id': 52,
   'nombre': '*Libby',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'No puedo mantenerlo',
  'fecha': '2020-05-13',
  'usuario': {'cedula': '0104107312',
   'nombre': 'Josue',
   'apellido': 'Jacho Jacho',
   'sexo': 'Masculino'}},
 {'animal': {'id': 53,
   'nombre': 'Rainy',
   'edad': 5,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Lo encontré en la calle',
  'fecha': '2019-04-28',
  'usuario': {'cedula': '0609203776',
   'nombre': 'Jefferson',
   'apellido': 'Flores Mera',
   'sexo': 'Masculino'}},
 {'animal': {'id': 58,
   'nombre': '*Trinity',
   'edad': 8,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Lo dejaron tirado en ESPOL',
  'fecha': '2018-08-18',
  'usuario': {'cedula': '0750013779',
   'nombre': 'Milena',
   'apellido': 'Tobar Bonilla',
   'sexo': 'Femenino'}},
 {'animal': {'id': 64,
   'nombre': '*Orville',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Lo dejaron tirado en ESPOL',
  'fecha': '2018-10-20',
  'usuario': {'cedula': '0966646673',
   'nombre': 'Ana',
   'apellido': 'Mera Carrera',
   'sexo': 'Femenino'}},
 {'animal': {'id': 65,
   'nombre': 'Salem',
   'edad': 8,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Lo dejaron tirado en ESPOL',
  'fecha': '2019-05-12',
  'usuario': {'cedula': '0708268211',
   'nombre': 'Domenica',
   'apellido': 'Bermudez',
   'sexo': 'Femenino'}},
 {'animal': {'id': 66,
   'nombre': '*Ursula',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'No me permiten tener mascotas en mi nuevo departamento',
  'fecha': '2019-06-19',
  'usuario': {'cedula': '0764794393',
   'nombre': 'Jonathan',
   'apellido': 'Morena',
   'sexo': 'Masculino'}},
 {'animal': {'id': 67,
   'nombre': '*Lily',
   'edad': 5,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'No me permiten tener mascotas en mi nuevo departamento',
  'fecha': '2019-09-06',
  'usuario': {'cedula': '0854531048',
   'nombre': 'Luis',
   'apellido': 'Mera',
   'sexo': 'Masculino'}},
 {'animal': {'id': 68,
   'nombre': 'Garfield',
   'edad': 8,
   'raza': 'domestic longhair',
   'tipo': 'Cat'},
  'motivo': 'No me permiten tener mascotas en mi nuevo departamento',
  'fecha': '2018-11-07',
  'usuario': {'cedula': '0107295888',
   'nombre': 'Domenica',
   'apellido': 'Mera Morena',
   'sexo': 'Femenino'}},
 {'animal': {'id': 69,
   'nombre': 'Garfield',
   'edad': 14,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Ya no me puedo mantener',
  'fecha': '2019-09-26',
  'usuario': {'cedula': '0908167606',
   'nombre': 'Bryan',
   'apellido': 'Bermudez Vazquez',
   'sexo': 'Masculino'}},
 {'animal': {'id': 70,
   'nombre': 'Mina',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'motivo': 'Mi papá no lo quiere en la casa',
  'fecha': '2018-03-05',
  'usuario': {'cedula': '0199769539',
   'nombre': 'Tamara',
   'apellido': 'Piero',
   'sexo': 'Femenino'}}]

## Adopcion

In [20]:
adopcion_df = pd.read_pickle('adopciones')
adopcion_path = 'nosql_data/adopcion.json'

adopcion_df.head()

   animal      duenio       fecha
0       1  0790077501  2020-05-16
1       2  0215456171  2020-01-26
2       3  0796097743  2018-10-10
3       4  0247830530  2018-03-20
4       5  0701961363  2018-09-10

In [21]:
adopcion_df["animal"] = adopcion_df["animal"].apply(obtener_ashort)
adopcion_df["usuario"] = adopcion_df["duenio"].apply(obtener_ushort)
adopcion_df.drop(columns=["duenio"], inplace=True)
adopcion_df.head()

<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:
<ipython-input-16-195523051149>:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if resultado[ucol].values:

,animal,fecha,usuario
0,"{'id': 1, 'nombre': 'Lucy', 'edad': 6, 'raza':...",2020-05-16,"{'cedula': '0790077501', 'nombre': 'Raul', 'ap..."
1,"{'id': 2, 'nombre': '*Frida', 'edad': 6, 'raza...",2020-01-26,"{'cedula': '0215456171', 'nombre': 'Tamara', '..."
2,"{'id': 3, 'nombre': 'Stella Luna', 'edad': 7, ...",2018-10-10,"{'cedula': '0796097743', 'nombre': 'Juan', 'ap..."
3,{},2018-03-20,"{'cedula': '0247830530', 'nombre': 'Renato', '..."
4,"{'id': 5, 'nombre': 'Elsa', 'edad': 6, 'raza':...",2018-09-10,"{'cedula': '0701961363', 'nombre': 'Jose', 'ap..."

In [22]:
adopcion_df.loc[0,'animal']

{'id': 1,
 'nombre': 'Lucy',
 'edad': 6,
 'raza': 'domestic shorthair',
 'tipo': 'Cat'}

In [23]:
adopcion_df.to_json(adopcion_path, orient = 'records')
with open(adopcion_path) as f:
    data = json.load(f)
data

[{'animal': {'id': 1,
   'nombre': 'Lucy',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2020-05-16',
  'usuario': {'cedula': '0790077501',
   'nombre': 'Raul',
   'apellido': 'Carrera Bonilla',
   'sexo': 'Masculino'}},
 {'animal': {'id': 2,
   'nombre': '*Frida',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2020-01-26',
  'usuario': {'cedula': '0215456171',
   'nombre': 'Tamara',
   'apellido': 'Cedeño',
   'sexo': 'Femenino'}},
 {'animal': {'id': 3,
   'nombre': 'Stella Luna',
   'edad': 7,
   'raza': 'domestic mediumhair',
   'tipo': 'Cat'},
  'fecha': '2018-10-10',
  'usuario': {'cedula': '0796097743',
   'nombre': 'Juan',
   'apellido': 'Sanzhez',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2018-03-20',
  'usuario': {'cedula': '0247830530',
   'nombre': 'Renato',
   'apellido': 'Cedeño',
   'sexo': 'Masculino'}},
 {'animal': {'id': 5,
   'nombre': 'Elsa',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2018-09-10',
  'usuario': {'cedula': '0701961363',
   'nombre': 'Jose',
   'apellido': 'Figueroa Mera',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2018-09-02',
  'usuario': {'cedula': '0573592980',
   'nombre': 'Geogy',
   'apellido': 'Morena',
   'sexo': 'Masculino'}},
 {'animal': {'id': 7,
   'nombre': 'Chester',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2018-10-07',
  'usuario': {'cedula': '0711353409',
   'nombre': 'Xiomara',
   'apellido': 'Davalos',
   'sexo': 'Femenino'}},
 {'animal': {'id': 8,
   'nombre': '*Oliver',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2018-05-24',
  'usuario': {'cedula': '0997994091',
   'nombre': 'Renato',
   'apellido': 'Carrera Morena',
   'sexo': 'Masculino'}},
 {'animal': {'id': 9,
   'nombre': '*Preston',
   'edad': 7,
   'raza': 'domestic mediumhair',
   'tipo': 'Cat'},
  'fecha': '2019-05-18',
  'usuario': {'cedula': '0107295888',
   'nombre': 'Domenica',
   'apellido': 'Mera Morena',
   'sexo': 'Femenino'}},
 {'animal': {'id': 10,
   'nombre': '*Bumble',
   'edad': 6,
   'raza': 'siamese',
   'tipo': 'Cat'},
  'fecha': '2019-07-23',
  'usuario': {'cedula': '0516630037',
   'nombre': 'Tamara',
   'apellido': 'Davalos',
   'sexo': 'Femenino'}},
 {'animal': {},
  'fecha': '2019-10-27',
  'usuario': {'cedula': '0238772882',
   'nombre': 'Renato',
   'apellido': 'Flores',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2019-05-22',
  'usuario': {'cedula': '0790077501',
   'nombre': 'Raul',
   'apellido': 'Carrera Bonilla',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2020-07-20',
  'usuario': {'cedula': '0708268211',
   'nombre': 'Domenica',
   'apellido': 'Bermudez',
   'sexo': 'Femenino'}},
 {'animal': {},
  'fecha': '2019-05-11',
  'usuario': {'cedula': '0957607575',
   'nombre': 'Crithina',
   'apellido': 'Flores Pulla',
   'sexo': 'Femenino'}},
 {'animal': {'id': 15,
   'nombre': 'Pumpkin',
   'edad': 9,
   'raza': 'domestic mediumhair',
   'tipo': 'Cat'},
  'fecha': '2019-07-28',
  'usuario': {'cedula': '0573920559',
   'nombre': 'Bryan',
   'apellido': 'Morena',
   'sexo': 'Masculino'}},
 {'animal': {'id': 16,
   'nombre': 'Winnie',
   'edad': 10,
   'raza': 'russian blue',
   'tipo': 'Cat'},
  'fecha': '2020-05-01',
  'usuario': {'cedula': '0966646673',
   'nombre': 'Ana',
   'apellido': 'Mera Carrera',
   'sexo': 'Femenino'}},
 {'animal': {'id': 17,
   'nombre': 'Snowflake',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2019-12-03',
  'usuario': {'cedula': '0973997406',
   'nombre': 'Luis',
   'apellido': 'Jacho',
   'sexo': 'Masculino'}},
 {'animal': {'id': 18,
   'nombre': 'Smoke',
   'edad': 13,
   'raza': 'russian blue',
   'tipo': 'Cat'},
  'fecha': '2019-11-14',
  'usuario': {'cedula': '0908994445',
   'nombre': 'Tamara',
   'apellido': 'Flores',
   'sexo': 'Femenino'}},
 {'animal': {'id': 19,
   'nombre': '*Dora',
   'edad': 6,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2020-04-02',
  'usuario': {'cedula': '0905718882',
   'nombre': 'Axel',
   'apellido': 'Jacho Jacho',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2020-12-26',
  'usuario': {'cedula': '0797245782',
   'nombre': 'Luis',
   'apellido': 'Vera',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2019-09-07',
  'usuario': {'cedula': '0210821929',
   'nombre': 'Xavier',
   'apellido': 'Davalos',
   'sexo': 'Masculino'}},
 {'animal': {'id': 22,
   'nombre': '*Cosmo',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2018-04-14',
  'usuario': {'cedula': '0864671556',
   'nombre': 'Crithina',
   'apellido': 'Figueroa Vazquez',
   'sexo': 'Femenino'}},
 {'animal': {},
  'fecha': '2019-05-02',
  'usuario': {'cedula': '0940089548',
   'nombre': 'Ariel',
   'apellido': 'Tobar',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2020-11-17',
  'usuario': {'cedula': '0420036459',
   'nombre': 'Paulette',
   'apellido': 'Carrera',
   'sexo': 'Femenino'}},
 {'animal': {'id': 25,
   'nombre': '*Sophie',
   'edad': 7,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2019-01-25',
  'usuario': {'cedula': '0115777191',
   'nombre': 'Jose',
   'apellido': 'Cedeño Sanzhez',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2020-06-03',
  'usuario': {'cedula': '0062618593',
   'nombre': 'Axel',
   'apellido': 'Piero',
   'sexo': 'Masculino'}},
 {'animal': {'id': 27,
   'nombre': 'Mischief',
   'edad': 12,
   'raza': 'domestic shorthair',
   'tipo': 'Cat'},
  'fecha': '2019-04-03',
  'usuario': {'cedula': '0672302142',
   'nombre': 'Renato',
   'apellido': 'Bermudez Morena',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2018-05-14',
  'usuario': {'cedula': '0940089548',
   'nombre': 'Ariel',
   'apellido': 'Tobar',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2020-04-01',
  'usuario': {'cedula': '0797245782',
   'nombre': 'Luis',
   'apellido': 'Vera',
   'sexo': 'Masculino'}},
 {'animal': {},
  'fecha': '2018-05-24',
  'usuario': {'cedula': '0479318887',
   'nombre': 'Mara',
   'apellido': 'Piero Vera',
   'sexo': 'Femenino'}}]

In [24]:
formulario_df = pd.read_json(formulario_path, orient='records')#orient='index')#orient='split')
formulario_df.head()

,animal,motivo,fecha,usuario
0,"{'id': 1, 'nombre': 'Lucy', 'edad': 6, 'raza':...",Lo encontré en la calle,2020-09-23,"{'cedula': '0954058106', 'nombre': 'Jefferson'..."
1,"{'id': 2, 'nombre': '*Frida', 'edad': 6, 'raza...",Mi mamá no lo quiere,2019-12-23,"{'cedula': '0479318887', 'nombre': 'Mara', 'ap..."
2,"{'id': 3, 'nombre': 'Stella Luna', 'edad': 7, ...",No puedo mantenerlo,2019-05-15,"{'cedula': '0864671556', 'nombre': 'Crithina',..."
3,"{'id': 5, 'nombre': 'Elsa', 'edad': 6, 'raza':...",Mi papá no lo quiere en la casa,2020-08-02,"{'cedula': '0476814537', 'nombre': 'Jocelyne',..."
4,"{'id': 7, 'nombre': 'Chester', 'edad': 6, 'raz...",No me permiten tener mascotas en mi nuevo depa...,2018-08-26,"{'cedula': '0997994091', 'nombre': 'Renato', '..."